<button routerLink="../../members/new">Add member</button> <whatsthis [ident]="10"></whatsthis>
<ul>
  <label *ngFor="let role of roles">
    <li> <!-- *ngIf="role.rid != +globals.rID" -->
      <b>{{role.name}}</b>
      <br/>
      <ul>
        <li *ngFor="let member of role.data" routerLink="../../members/{{member.uid}}">
        {{member.username}} <i>({{member.fullname}})</i>
        </li>
      </ul>
    </li>
  </label>
</ul>
<button *ngIf="cont>=15" (click)="cont=cont-15;getMembers()">Prev</button>
<button *ngIf="roles.length==15" (click)="cont=cont+15;getMembers()">Next</button>
