<button routerLink="../../members/new">Add member</button> <whatsthis [ident]="10"></whatsthis><br/>
Add members (batch):<br/><member-csv-upload url="/api/location/members/add/batch" [rID]="batchRoleID"></member-csv-upload>
<select name="rid" [(ngModel)]="batchRoleID">
  <option [ngValue]="null" disabled>Role</option>
  <option *ngFor="let role of roles" [ngValue]="role.rid">
    {{role.name}}
  </option>
</select>
<ul>
  <label *ngFor="let role of roles">
    <li>
      <b>{{role.name}}</b>
      <br/>
      <ul>
        <li *ngFor="let member of role.data" routerLink="../../members/{{member.uid}}">
        {{member.username}} <i>({{member.fullname}})</i>
        </li>
      </ul>
    </li>
  </label>
</ul>
<button *ngIf="cont>=15" (click)="cont=cont-15;getMembers()">Prev</button>
<button *ngIf="roles.length==15" (click)="cont=cont+15;getMembers()">Next</button>
