h2 {
  font-weight: 300;
}
ul {
  list-style: none;
  width: 40em;
}
.link {
  text-decoration: underline;
  cursor: pointer;
}
.link.bad {
  color: red;
}
.link:hover {
  text-decoration: none;
}
.item-box {
  display: flex;
  justify-content: space-between;
  
  position: relative;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  border: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: #29bdff;
  background-color: #edf7fe;
}
.item-box.result {
  border-color: #00c516;
  background-color: #e0ffe0;
}
.item-box img {
  display: inline-block;
  height: 128px;
  width: auto;
}
.item-box .text aside {
  font-size: 13px;
  color: #555;
}
@media only screen and (max-width: 750px) {
  .item-box { width: 16em; }
}
