nav {
  position: absolute;
  top: 0;
  left: 0;
}
nav a {
  display: inline;
  padding: 10px;
  text-decoration: none;
  white-space: nowrap;
  background-color: #f1f1f1;
  color: #666;
  transition: background-color .1s;
}
nav a:active, nav a:focus, nav a.selected {
  outline: none;
  background-color: #ddd;
}
