form {
  display: flex;
  flex-direction: column;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 60px;
  text-align: center;
}
div.msg-container {
  display: table;
  border-collapse: collapse;
}
div.err, div.suc {
  display: table-row;
  vertical-align: bottom;
  border-style: solid;
  border-width: 1px;
  border-color: #ff2929;
  background-color: #fef0ed;
}
div.err p, div.suc p {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #ff2929;
  font-size: 20px;
}
div.suc {
  border-color: #00c516;
  background-color: #edfeee;
}
div.suc p {
  color: #00c516;
}
form input, form div.msg-container {
  width: 20em !important;
  padding: 1em;
  margin: 4px auto;
}
form input {
  margin: 8px auto;
}
input.invalid {
  border-color: #ff2929;
  color: #ff2929;
  background-color: #fef0ed;
}
button {
  padding: 14px 20px;
}
button.signup {
  background-color: #2e7fba;
}
button.loading {
  opacity: 0.5;
  cursor: progress;
}
