<div class="container" style="margin-top: 2em;">
  <p>Welcome to Booksy! Log in below.</p>
  <button routerLink="/signup" class="signup">Sign your library up</button>
  <form (ngSubmit)="send();  pw.value=null; uid.value=null; lid.value=null">
    <div class="msg-container">
      <div *ngIf="msg" class="msg" [ngClass]="err?'err':'suc'"><p>{{msg}}</p></div>
    </div>
    <input #lid
      name="lid"
      [(ngModel)]="lID"
      [ngModelOptions]="{updateOn: 'submit'}"
      [class.invalid]="lid.value && !numRe.test(lid.value)"
      autocomplete=section-lid
      placeholder="Location ID"
      />
    <input #uid
      name="uid"
      (keyup)="msg=null"
      [(ngModel)]="uID"
      [ngModelOptions]="{updateOn: 'submit'}"
      autocomplete=username
      placeholder="User ID"
      />
    <input #pw
      name="pw" type="password"
      (keyup)="msg=null"
      [(ngModel)]="password"
      [ngModelOptions]="{updateOn: 'submit'}"
      autocomplete=current-password
      placeholder="Password"
      />
    <button
      [disabled]="(pw.value && uid.value && lid.value)?null:'y'"
      type="submit"
      [class.loading]="loading"
      class="button"
      (click)="loading=true"
      >Submit</button>
  </form>
<br/>
