<div class="container" style="margin-top: 2em;">
  <p>Welcome to Booksy! Log in below.</p>
  <form (ngSubmit)="send();  pw.value=null; uid.value=null; lid.value=null">
    <div class="err-container">
      <div *ngIf="errmsg" class="err"><p>{{errmsg}}</p></div>
    </div>
    <input #lid [hidden]="isLocationRegistered"
      name="lid"
      [(ngModel)]="lID"
      [ngModelOptions]="{updateOn: 'submit'}"
      [class.invalid]="!numRe.test(lid.value)"
      autocomplete=section-lid
      placeholder="Location ID">
    <input #uid
      name="uid"
      (keyup)="errmsg=null"
      [(ngModel)]="uID"
      [ngModelOptions]="{updateOn: 'submit'}"
      [class.invalid]="!numRe.test(uid.value)"
      autocomplete=username
      placeholder="User ID">
    <input #pw
      name="pw" type="password"
      (keyup)="errmsg=null"
      [(ngModel)]="password"
      [ngModelOptions]="{updateOn: 'submit'}"
      autocomplete=current-password
      placeholder="Password">
    <button [disabled]="!(pw.value && uid.value && (isLocationRegistered?lid.value:true))"
      type="submit"
      [class.loading]="loading===true"
      class="button"
      (click)="loading=true">Submit</button>
  </form>
  <br>
  <button routerLink="/signup/organization" class="signup">Sign up as an organization and/or administrator</button>
  <button routerLink="/signup/user" class="signup">Sign up as a user</button>
