* {
  /*background-color: #fafafa;*/
}
form {
  display: flex;
  flex-direction: column;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 60px;
  text-align: center;
}
div.msg-container {
  display: table;
  border-collapse: collapse;
}
div.err, div.suc {
  display: table-row;
  vertical-align: bottom;
  border-style: solid;
  border-width: 1px;
  border-color: #ff2929;
  background-color: #fef0ed;
}
div.err p, div.suc p {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #ff2929;
  font-size: 20px;
}
div.suc {
  border-color: #00c516;
  background-color: #edfeee;
}
div.suc p {
  color: #00c516;
}
form input, form div.msg-container {
  width: 20em !important;
  padding: 1em;
  margin: 4px auto;
}
form input {
  border: none;
  margin: 8px auto;
  border-style: solid;
  border-color: #dcdcdc;
  border-radius: 5px;
  border-width: 1px;
}
input.invalid {
  border-style: solid !important;
  border-color: #ff2929 !important;
  border-width: 1px !important;
  color: #ff2929 !important;
  background-color: #fef0ed !important;
}
button {
  background-color: #43ba2e;
  color: white;
  padding: 14px 20px;
  margin: auto;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: opacity .2s;
}
button.signup {
  background-color: #2e7fba !important;
}
button:disabled {
  opacity: 0.5;
  cursor: default;
}
button:hover:not(:disabled) {
  opacity: 0.8;
}
button.loading {
  opacity: 0.5;
  cursor: wheel;
}
