<p>{{msg}}</p>
<button (click)="location.back()">Go back</button>
<div *ngIf="item">
  <button *ngIf="!item.available && !globals.isCheckoutAccount" (click)="placeOnHold()">Place hold</button>
  <h1>{{item.title}}</h1>
  <p class="author">{{item.author}}</p>
  <p>Published in {{item.published}}</p>
  <img *ngIf="item.image && item.image != 'None'" [src]="item.image"/>
  <p>Type: {{item.type | titlecase}}</p>
  <p>Genre: {{item.genre | titlecase }}</p>
  <p>Barcode: {{item.mid}}</p>
  <p>ISBN: {{item.isbn}}</p>
  <br/>
  <p>${{item.price}}</p>
  <p>{{item.length}} pages</p>
</div>
