#sidebar-container {
  box-shadow: -4px 8px 11px 0px black;
  background-color: #eee;
  list-style: none;
  padding-left: 0;
  position: fixed;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}
#sidebar-container li.dummy {
  cursor: default;
  height: 3em; /* subject to change */
}
#sidebar-container li {
  padding: 6px 8px 6px 16px;
  cursor: pointer;
  
  background-color: #eee;
  color: #818181;
  
  font-size: 20px;
  font-family: 'Noto Sans CJK JP Regular';
  
  text-decoration: none;
  text-transform: lowercase;
  
  -webkit-transition: color .1s;
  -webkit-transition: -webkit-transform 70ms, background-color .1s;
  -webkit-backface-visibility: hidden; /* stops animation flickering */
  
  -moz-transition: color .1s;
  -moz-transition: -moz-transform 70ms, background-color .1s;
  
  transition: color .1s;
  transition: transform 70ms, background-color .1s;
}
#sidebar-container li.selected {
  /* background-color: #ccc; */
  transform: scale(1.01);
}
#sidebar-container li:hover:not(.dummy) {
  /* background-color: #ccc; */
  transform: scale(1.03);
}
#sidebar-container li:hover:not(.dummy) span,
#sidebar-container li.selected span {
  color: #000 !important;
  
}
