#sidebar-container {
  box-shadow: -4px 8px 11px 0px black;
  background-color: #eee;
  list-style: none;
  padding-left: 0;
  position: fixed;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}
li.dummy {
  cursor: default;
  height: 3em; /* subject to change */
}
li {
  position: relative;
  padding: 5px;
  z-index: -2;
}
li:focus {
  outline: none;
}
li div {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
  
  -webkit-transition: -webkit-filter .1s;
  -moz-transition: -moz-filter .1s;
  transition: filter .1s;
}
li span {
  background-color: transparent;
  color: #818181;
  cursor: pointer;
  
  font-size: 20px;
  font-family: 'Noto Sans CJK JP Regular';
  
  text-decoration: none;
  text-transform: lowercase;
  
  -webkit-transition: color .1s, font-size .1s;
  -webkit-backface-visibility: hidden; /* stops animation jankiness */
  
  -moz-transition: color .1s, font-size .1s;
  transition: color .1s, font-size .1s;
}
li.selected div {
  filter: brightness(85%);
}
li:hover span,
li.selected span {
  color: #000 !important;
  font-size: 21px;
  /* ^ looks very janky */
}
li:not(.dummy):focus span {
  color: #000 !important;
  outline: none;
  font-size: 21px;
  /* ^ looks very janky */
}
