<ul *ngIf="buttons" id="sidebar" [class.hide]="globals.hide">
    <div id="toggler" (click)="globals.hide=!globals.hide" [class.grow]="globals.hide"></div>
    <li *ngFor="let button of buttons"
      [routerLink]="'./' + (button.hasOwnProperty('dest')?button.dest:button.text)"
      routerLinkActive="selected">
        <!-- below for darkening color on selected -->
        <div
        [attr.style]="san('background-color:'+(button.hasOwnProperty('color')?button.color:'#eee')+' !important')">
        </div>
        <span>{{button.text}}</span>
    </li>
</ul>
