h1 {
  margin-bottom: 0;
}
h3 {
  margin-top: 0;
  font-weight: normal;
  padding-left: 1em;
}
li ul {
  list-style: disc;
}
li:empty {
  display: none;
}
button {
  background-color: #43ba2e;
  color: white;
  padding: 10px 10px;
  margin: auto;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: opacity .2s;
}
button:hover {
  opacity: 0.8;
}
