div {
  padding-left: 0;
  width: 20em;
  padding: 10px;
  font-size: 16px;
  color: #fb9a00;
  border: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #ffc871;
  background-color: #fff6b1;
}

