ul {
  list-style: none;
}
li {
  margin: 25px 0 25px 0;
}
li .container {
  width: fit-content;
  margin-right: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid;
  border-radius: 5px;
}
li .container .name {
  width: fit-content;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
}
.del {
  color: red;
  font-size: 20px;
  cursor: pointer;
}
.editbutton:before {
  content: '✏️';
  display: inline-block;
  line-height: 18px;
  width: 18px;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
}
.editbutton {
  border-radius: 50%;
  border: 1px solid;
  cursor: pointer;
}
li span input {
  margin-top: 0;
  margin-bottom: 0;
}
.save {
  background-color: #029000;
  color: white;
  padding: 0 5px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 100ms;
}
.save:active {
  background-color: #02ab00;
}
