<button routerLink="../edit/new">Add item</button>
<button *ngIf="cont>=5" (click)="cont=cont-5;getItems()">Prev</button>
<button *ngIf="items.length>=5" (click)="cont=cont+5;getItems()">Next</button>
<ul>
  <li *ngFor="let item of items; let i = index" class="item-box">
    <div class="text"> <!-- div in a list ahah yikes -->
      <span class="title link" routerLink="../../media/{{item.mid}}">{{item.title}}</span>
      <span class="link" *ngIf="globals.perms.names.canManageMedia" routerLink="../../media/edit/{{item.mid}}"> (edit)</span>
      <span class="link bad" *ngIf="globals.perms.names.canManageMedia" (click)="del(item.mid); items.splice(i, 1)"> (delete)</span>
      <br/>
      <span class="author">{{item.author | titlecase}}</span>
      <br/>
      <span class="genre">{{item.genre | titlecase}}</span>
      <br/>
      <br/>
      <aside class="type">{{item.type | titlecase}}</aside>
      <aside class="barcode">{{item.mid}}</aside>
    </div>
      <img *ngIf="item.image && item.image != 'None'" [src]="item.image" [alt]="item.title">
  </li>
</ul>
