#container {
  display: grid;
  grid-template: 35px 1fr / 1fr 2fr;
  grid-template-areas: "header header"
                       "side main";
}
#spacer {
  grid-area: header;
}
.sidebar {
  grid-area: side;
}
.main {
  grid-area: main;
}
