#container {
  display: grid;
  grid-template: 35px 1fr / 1fr 9fr;
  grid-template-areas: "header header"
                       "side main";
}
#spacer {
  grid-area: header;
}
app-sidebar {
  grid-area: side;
}
::ng-deep router-outlet + * {
  grid-area: main;
}
