#container {
  padding: 1em;
}
h1 {
  border-bottom: 1px solid;
  border-color: #666;
}
ul {
  list-style: none;
  padding-left: 1em;
}
li {
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  width: fit-content;
  border-bottom: 1px solid black;
}
li:hover, li:focus {
  outline: none;
  border-bottom: 1px solid transparent;
}
